<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Full Stack Web Developer</h1>
            <span><address>Exafluence, India</address><time>Oct 2016 to July 2018</time></span>
        </header>
        <p>
                EXAFLUNCE is technology solution company focused on solving complex problems leveraging Big Data and Analytics 
                utilizing new technologies and frameworks. Our accelerators and solutions use advanced technologies in IOT, 
                Big Data and Machine learning to provide actionable insights. We develop expedited solutions built on micro 
                services architecture for financial services
                 and Health care verticals    

        </p>
    </article>
    <h3>Projects</h3>
    <article>
        <header>
            <h1>AnalyticsConnect - Full stack - Django</h1>
            <span> <time>June 2016 to Apr 2017</time></span>
        </header>
        <p>AnalyticsConnect is online web based job portal, only dedicated for big-data technology people, and also have virtual COE to support the team members working on client space. The projects at Analytics Connect focused on developing a Modern website using popularly used python , web framework Django and MongoDB as database </p>
        <i class="fa fa-globe" style="color: blue" aria-hidden="true"></i> <a style="color: blueviolet" href="http://analyticsconnect.info">Analytics Connect Site</a>
        <br><br>
            <p> 
                
<h4>Responsibilities</h4>
                • Implemented resume-parser using textract, accepting pdf,doc,docx formats <br>

                • Designed a real-time chat module to support team communication.  <br>
                • Used Django web framework and MongoDB 3.4 as Database engine <br>
                • Implemented django-bootstrap3 for frontend <br>
                • Deployed both the Django and MongoDB in Go-daddy VPS hosting ,and solved few bugs appeared <br>
                • Can be able to successfully migrate the Django-models into database schema    <br>


            </p>
    </article>
    <article>
        <header>
            <h1>ExaHealth - Healthcare vertical</h1>
            <span> <time>May 2017 to Sept 2017</time></span>
        </header>
        <p>NpiAlerts, is the module dedicated to track the changes of NPIs records from CMS database. This provides the updated NPIs records for every 2 hours span, where as CMS will provides weekly in weekly updates section. It also provides history of changes that a particular NPI record had gone through</p><br>

        <h4>Responsibilities</h4>   
    • Used Scala Future task to call CMS API in parallel,which downloads 54 million records in ~56 minutes <br>
    • Spark used to load the individual downloaded JSON files to a dataset and applied business logic on it  <br>
    • Using mongodb as the database , stored the updated set of NPI records for every iteration <br>
    • UI/UX accomplished with JSP,CSS as frontend and Java as backend. <br>      

    </article>
    
    <article>
        <header>
            <h1>LabLinks BioTech</h1>
            <span> <time>Oct 2017 to Mar 2018</time></span>
        </header>
        <p> 
                This manufacturer is a supplier and exporter of specialized equipment for biotechnology laboratories and industry such as bio-reactors, custom built roller bottle equipment with built in incubators, disposable bio-reactor systems of patented design, blotting manifolds, and filtration systems. The projects at LABLINKS BIOTECH focused on developing a Dynamic website, so that obtained data from database will be used to perform the analysis or business logic on it using big-data technologies

        </p>
        <br>
        <h4>Responsibilities</h4>
        
        • Developed User Interface for the project using JavaScript, JSP, HTML, CSS. <br>
        • Worked on MongoDB for implementing CRUD operations and authentication system <br>
        • Involved in bug fixing during the Unit testing, Integrated System testing and User acceptance testing. <br>
        • Able to deploy project in AWS instance and worked with client onsite. <br>

    </article>
    <article>
            <header>
                <h1>TTD-Online</h1>
                <span> <time>Apr 2018 to July 2018</time></span>
            </header>
            <p>Forecasting of Pilgrim Influx is a analytical based project, Estimating of darshan time for the pilgrim and prediction on pilgrim influx. The application developed reads the Inputs from the history and We Predict the time of darshan for pilgrims. The flow of the people is predicted based on machine learning from the history.</p> <br>
             
            <h4> Responsibilities</h4>
    • Integrating the rest api to ReactJs and deployed to AWS  <br>
    • Saving the result in mongo db, For machine learning to estimate darshan time <br>
    • Using Plumber (rplumber) ,created rest api.  <br>
        </article>

</section>
