<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Anchor</h1>
             
        </header>
        <p>
               Participated  as an anchor in collage fests/events 
        </p>
    </article>
    <article>
        <header>
            <h1>Hackathon and seminor organiser</h1>
           
        </header>
        <p>
           
            Conduct hackathons and seminors for the juniors, and helped learning them new technologies

        </p>
    </article>
</section>