<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Analytics Connect</a></strong>
			AnalyticsConnect is online web based job portal, only dedicated for big-data technology people, and also have virtual COE to support the team members working on client space
			<br>
			<span class="label label-success">Django</span>
			<span class="label label-success">Mongodb</span>
			<span class="label label-success">Jquery</span>
			<span class="label label-success">nginx</span>
			<br>
		Site : 	<a target="_blank"  href="http://analyticsconnect.info">Analytics Connect</a>
			 


		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">ExaHealth</a></strong>
			NpiAlerts, is the module dedicated to track the changes of NPIs records from CMS database. This provides the updated NPIs records for every 2 hours span, where as CMS will provides weekly in weekly updates section. It also provides history of changes that a particular NPI record had gone through.
		<br>
		<span class="label label-success">Jsp</span>
		<span class="label label-success">Mongodb</span>
		<span class="label label-success">Jquery</span>
		<span class="label label-success">Apache Tomcat</span>


		</h5>
    	<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">LABLINKS BIOTECH</a></strong>
			This manufacturer is a supplier and exporter of specialized equipment for biotechnology laboratories and industry such as bio-reactors, custom built roller bottle equipment with built in incubators, disposable bio-reactor systems of patented design, blotting manifolds, and filtration systems. The projects at LABLINKS BIOTECH focused on developing a Dynamic website, so that obtained data from database will be used to perform the analysis or business logic on it using big-data technologies 
			<br>
			<span class="label label-success">Jsp</span>
			<span class="label label-success">Mongodb</span>
			<span class="label label-success">Jquery</span>
			<span class="label label-success">Apache Tomcat</span>
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">TTD-Online</a></strong>
			Forecasting of Pilgrim Influx is a analytical based project, Estimating of darshan time for the pilgrim and prediction on pilgrim influx. The application developed reads the Inputs from the history and We Predict the time of darshan for pilgrims. The flow of the people is predicted based on machine learning from the history
			<br>
			<span class="label label-success">Reactjs</span>
			<span class="label label-success">Mongodb</span>
		
			<span class="label label-success">Expressjs</span>
			<span class="label label-success">Plumber (rplumber)</span>
			<span class="label label-success">Nodejs</span>
		</h5>
		<h3>Open Source projects</h3>
	 
		<h5>
			<a href=""></a>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">DECENTTWT</a></strong>
			<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/yashwanth2804/decenttwt" aria-label="Star yashwanth2804/decenttwt on GitHub">Star</a> <br>

			Decenttwt, will let you to tweet using Blockchain , EOS. Every tweet you make be on open blockchain and verifiable
		</h5>
	 
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">EOSdplyr</a></strong>
			<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/yashwanth2804/EOSdplyr" aria-label="Star yashwanth2804/EOSdplyr on GitHub">Star</a> <br>

			EOSdplyr hepls the smart contract developers to directly deploy the smart-contracts to blockchain using UI/UX from a website without any need to write code
		</h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">ScrapDubbed</a></strong>
			<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/yashwanth2804/ScrapDubbed" aria-label="Star yashwanth2804/ScrapDubbed on GitHub">Star</a> <br>
			A NodeJs tool to scrap the movie download sites ( Telugupalaka.com ) and provides the download URL without any pop-up ads
		</h5>


    </div>
  </div>
</div>
</section>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
