<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development & Deployment</h1>
        </header>
        
 
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i
                    class="fa fa-star-o"></i>
                &nbsp;&nbsp;<em>Java</em>, <em>Python</em> , <em>Git</em>
            </p>
            <p>
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                    class="fa fa-star-o"></i>
                &nbsp;&nbsp;<em>HTML5/CSS3</em> &amp; <em>Javascript</em>
            </p>
            <p>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o "></i><i
                        class="fa fa-star-o"></i>
                    &nbsp;&nbsp;<em>Mongodb</em>
                </p>
                <p>
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o "></i><i
                            class="fa fa-star-o"></i>
                        &nbsp;&nbsp;<em>AWS ,Azure , Godaddy VPS ,Static site generator hosting </em>
                    </p>
    </article>
</section>