<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Recent Update!</strong> Checkout the new <a target="_balank" style="color: darkblue" href="https://restafind.surge.sh/">@ restaurant finder app</a>
    <button type="button"  style="color: blue" class="close" data-dismiss="alert" aria-label="Close">
            <span class="badge badge-secondary" style="background-color: red" ><span  aria-hidden="true">&times;</span></span>
      
    </button>
    <style>
    .fade.show {
    opacity: 1;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-dismissible {
    padding-right: 4rem;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.fade {
    opacity: 0;
    transition: opacity .15s linear;
}
*, ::after, ::before {
    box-sizing: border-box;
}
    
    </style>
  </div>